<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Equipamento - Cadastro</title>
</head>
<body>
    <h1>Cadastro Equipamento</h1>


    <form action="/equipamentos/cadastrar" method="post">

    <label>Código Equipamento</label>
    <input type="text" id="cod_equip" name="cod_equip" value=""/>
    </br></br>

    <label>Nome</label>
		<input type="text" id="nome" name="nome" value=""/>
    </br></br>

    <label for="tipo_equip">Tipo de equipamento</label>

            <select name="tipo_equip" id="tipo_equip">
            <option value="JATO">JATO</option>
            <option value="HELICOPTERO">HELICOPTERO</option>
            <option value="TURBO HELICE">TURBO HELICE</option>

           

            </select>
    </br></br>

    <label for="tipo_propulsor">Tipo de propulsor</label>

            <select name="tipo_propulsor" id="tipo_propulsor">
            <option value="R">R</option>
            <option value="M">M</option>
           

            </select>
    </br></br>

   <label>Quantidade de motores</label>
   <select name="quant_motor" id="quant_motor">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>

   

    </select>
    </br></br>
    
    <label>Quantidade passageiros</label>
		<input type="number" id="quant_passageiro" name="quant_passageiro" />
    </br></br>
       

    <input type="submit" >
    </form>
</body>
</html>