<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Reserva - Cadastro</title>
</head>
<body>
    <h1>Cadastro Reserva</h1>

    <form action="" method="post">
        <label>Nome passageiro</label>
		<input type="text" id="nome" name="nome" value=""/>
    </br></br>

    <label for="data_nasc">Data saída</label>
        <input type="date" id="data_nasc" name="data_nasc" min="1910-01-01">
    </br></br>

    <label for="cod_voo">Cod. Voo</label>

            <select name="cod_voo" id="cod_voo">
            <option value="sim">BOND007</option>
           

            </select>
    </br></br>


        <label>Desconto passagem</label>
		<input type="text" id="desc_passagem" name="desc_passagem" value=""/>
    </br></br>


       

    <input type="submit" >
    </form>
</body>
</html>