<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rota de voo - Cadastro</title>
</head>
<body>
    <h1>Cadastro Rota de voo</h1>

    <form action="/rotas/cadastrar" method="post">
        
        <label>Código Aeroporto Origem</label>

        <select name="cod_origem" id="cod_origem">
            <% for(var i=0;i< aeroportos.length;i++){ %>
                <option value="<%= aeroportos[i].CD_ARPT %>"><%= aeroportos[i].CD_ARPT %></option>
            <% } %>

        </select>

    
    </br></br>

    <label>Código Aeroporto Destino</label>

    <select name="cod_dest" id="cod_dest">
        <% for(var i=0;i< aeroportos.length;i++){ %>
            <option value="<%= aeroportos[i].CD_ARPT %>"><%= aeroportos[i].CD_ARPT %></option>
        <% } %>

    </select>


    </br></br>


        <label>Valor passagem</label>
		<input type="number" id="val_passagem" name="val_passagem" value=""/>
    </br></br>




       

    <input type="submit" >
    </form>
</body>
</html>