<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <title>Companhia - Cadastro</title>
</head>
<body>
    <h1>Cadastro Companhia aérea</h1>

    <form action="/companhias/cadastrar" method="post">

        <label>Cod. Companhia Aerea</label>
        <input type="text" id="cod_companhia" name="cod_companhia" maxlength="2"/>
        </br></br>
            
        <label>Nome</label>
        <input type="text" id="nome" name="nome" value=""/>
        </br></br>

        <label for="pais">País</label>

                <select name="pais" id="pais">
                    <% for(var i=0;i< paises.length;i++){ %>
                        <option value="<%= paises[i].codigo %>"><%= paises[i].nome %></option>
                    <% } %>

                </select>
        </br></br>




        <input type="submit" id="enviar" disabled >
    </form>
</body>
<script>

    $(document).ready(function(){

        $('#cod_companhia').blur(function(){

            const text = $('#cod_companhia').val();
            
            if(text != ''){
                $.ajax({
                    url: '/companhias/verificarId',
                    method: 'GET',
                    data: {cod: text},
                    success: response =>{
                        console.log(response)
                        $('#enviar').attr('disabled', false);
                    },
                    error: err =>{
                        alert('Código já utilizado!');
                        $('#enviar').attr('disabled', true);
                    }
                });
            }
            
        })
    });    
</script>
</html>