<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>País - Cadastro</title>
</head>
<body>
    <h1>Cadastro País</h1>


    <form action="" method="post">

        <label for="nome_pais">Nome</label>

                <input type="text" name="nome_pais" id="nome_pais">
        </br></br>

        <label for="quant_pop">Quant. Populacional</label>

                <input type="number" name="quant_pop" id="quant_pop">
        </br></br>


        <input type="submit" >
        
    </form>
</body>
</html>