<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Companhia - Cadastro</title>
</head>
<body>
    <h1>Cadastro Companhia aérea</h1>

    <form action="" method="post">
        
    <label>Nome</label>
	<input type="text" id="nome" name="nome" value=""/>
    </br></br>

    <label for="cod_pais">Cod. País</label>

            <select name="pais" id="pais">
            <option value="bra">BRA</option>
            <option value="fra">FRA</option>
            <option value="ita">ITA</option>

            </select>
    </br></br>




    <input type="submit" >
    </form>
</body>
</html>