<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Voos - Editar</title>
</head>
<body>
    <h1>Atualizar Voo</h1>

    <form action="" method="post">
        <label>Código da Rota de Voo</label>
		<input type="text" id="cod_rota_voo" name="cod_rota_voo" value=""/>
    </br></br>

        <label>Código da Aeronave</label>
		<input type="text" id="cod_aeronave" name="cod_aeronave" value=""/>
    </br></br>

        <label for="data_nasc">Data saída</label>
        <input type="date" id="data_nasc" name="data_nasc" min="1910-01-01">
    </br></br>


    <input type="submit" />
    <button>Deletar</button>
    </form>
</body>
</html>