<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Aeroporto - Editar</title>
</head>
<body>
    <h1>Atualizar Aeroporto</h1>


    <form action="" method="post">

        <label for="nome_cidade">Nome da cidade</label>

                <input type="text" name="nome_cidade" id="nome_cidade">
        </br></br>

        <label for="sigla_uf">Sigla UF</label>

                <select name="sigla_uf" id="sigla_uf">
                <option value="sim">RJ</option>
            

                </select>
        </br></br>

        <label for="cod_pais">Cod. País</label>

                <select name="cod_pais" id="cod_pais">
                <option value="sim">BOND007</option>
            

                </select>
        </br></br>


        <input type="submit" >
        <button>Deletar</button>
    </form>
</body>
</html>