<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Rota de voo - Editar</title>
</head>
<body>
    <h1>Atualizar Rota de voo</h1>

    <form action="">
        
    <label for="cod_aeroporto_origem">Cod. Aeroporto Origem</label>

            <select name="cod_aeroporto_origem" id="cod_aeroporto_origem">
            <option value="sim">A001</option>
            <option value="nao">A002</option>
           

            </select>
    </br></br>

    <label for="cod_aeroporto_destino">Cod. Aeroporto Origem</label>

            <select name="cod_aeroporto_destino" id="cod_aeroporto_destino">
            <option value="sim">A001</option>
            <option value="nao">A002</option>
           

            </select>
    </br></br>


        <label>Valor passagem</label>
		<input type="text" id="val_passagem" name="val_passagem" value=""/>
    </br></br>


       

    <input type="submit" >
    <button>Deletar</button>
    </form>
</body>
</html>