<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <title>País - Editar</title>
</head>
<body>
    <h1>Atualizar País</h1>


    <form action="atualizar/<%= paises[0].CD_PAIS %>" method="post">

        <label for="nome_pais">Nome</label>

                <input type="text" name="nome_pais" id="nome_pais">
        </br></br>

        <label for="quant_pop">Quant. Populacional</label>

                <input type="number" name="quant_pop" id="quant_pop">
        </br></br>


        <input type="submit" >
        <button id="deletar">Deletar</button>
    </form>
</body>
<script>

    $(document).ready(function(){
       
        var paises = '<%- JSON.stringify(paises[0]) %>';
        paises = JSON.parse(paises);

        $('#nome_pais').val(paises.NM_PAIS);
        $('#quant_pop').val(paises.QT_PPLC_PAIS);

        


        //Botão de deletar

       $('#deletar').click(function(){
            let check = confirm('Quer deletar amigao?');
            
            if(check){
                $.ajax({
                    url: '/paises/editar/deletar/' + paises.CD_PAIS  ,
                    method: 'POST',
                    success: response =>{
                        console.log(response);

                        setTimeout(function(){ 
                            alert(response);
                            location.href = '/paises';
                        }, 1000);
                    }
                })
            }
       });
    });    
</script>
</html>