<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Aeronave - Editar</title>
</head>
<body>
    <h1>Atualizar Aeronave</h1>


    <form action="" method="post">

        <label for="cod_equipamento">Cod. Equipamento</label>

                <select name="cod_equipamento" id="cod_equipamento">
                <option value="sim">BOND007</option>
            

                </select>
        </br></br>

        <label for="cod_companhia">Cod. Companhia</label>

                <select name="cod_companhia" id="cod_companhia">
                <option value="sim">BOND007</option>
            

                </select>
        </br></br>


        <input type="submit" >
        <button>Deletar</button>
    </form>
</body>
</html>