<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <title>Voos - Editar</title>
</head>
<body>
    <h1>Atualizar Voo</h1>

    <form action="atualizar/<%= voo[0].NR_VOO %>_<%= voo[0].DT_SAIDA_VOO.split('/') %>" method="post">
        <label>Código da Rota de Voo</label>
		<input type="text" id="cod_rota_voo" name="cod_rota_voo" value="" required/>
    </br></br>

        <label>Código da Aeronave</label>
		<input type="text" id="cod_aeronave" name="cod_aeronave" value="" required/>
    </br></br>

        <label for="data_saida">Data saída</label>
        <input type="text" name="data_saida" id="data_saida" name="data_saida" 
    title="Insira a data no formato YYYY/MM/DD" readonly/>

    </br></br>


    <input type="submit" />
    <br> <br>
    
    </form>

    <button id="deletar">Deletar</button>

</body>
<script>

    $(document).ready(function(){

       var voo = '<%- JSON.stringify(voo[0]) %>';
       voo = JSON.parse(voo)
       


        var credenciais = voo.NR_VOO + '_' +  voo.DT_SAIDA_VOO;
        credenciais = credenciais.split('/');

       //Botão de deletar

       $('#deletar').click(function(){
            let check = confirm('Quer deletar?');
            
            if(check){
                $.ajax({
                    url: '/voos/editar/deletar/' + credenciais ,
                    method: 'POST',
                    success: response =>{
                        console.log(response);

                        setTimeout(function(){ 
                            alert(response);
                            location.href = '/voos';
                        }, 1000);
                    }
                })
            }
       });


       $('#cod_rota_voo').val(voo.NR_ROTA_VOO);
       $('#cod_aeronave').val(voo.CD_ARNV);
       $('#data_saida').val(voo.DT_SAIDA_VOO);
      
        
    });
</script>
</html>