<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Unidades Federais</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
        <a class="navbar-brand" href="/"><h1> SDA </h1></a> 
        <img src="/img/logo.png" />             
    </nav>


    <h1>Unidades Federais</h1>

    <div class="container">
        <div  class="row">
            <div  class="col-sm">
                <input type="text" name="busca" id="busca" required>
        
                <button class="btn btn-secondary" type="submit" id="send-busca"> Enviar</button>

                <a href="/uf">
                    <button class="btn btn-secondary"> Limpar </button>
                </a> <br>
            
                
                <a href="/uf/cadastro">
                    <button class="btn btn-info"> Cadastrar</button>
                </a>
            </div>
        </div>

    </div>
    


    <div id="resultados" class="container" style="width: 80%;">
        <table id="table-unidades" class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <td>Sigla UF</td>
                    <td>Nome UF</td>
                    
                </tr>
            </thead>


            
                <% for(var i=0;i< unidades.length;i++){ %>
                    <tr class="resultado-unidades">
                        <td><%= unidades[i].SG_UF %></td>
                        <td><%= unidades[i].NM_UF %></td>
                       
                        
                        <td> 
                            <a href="/uf/editar/<%=unidades[i].SG_UF %>">
                                <button type="button" class="btn btn-info"> Editar</button></td>
                            </a>
                            
                    </tr>
                <% } %>
        
        
        
        </table>
    </div>
</body>

<script>
    $('#send-busca').click(function(){
           
           const busca = $('#busca').val();

           if(busca){
               $.ajax({
                   url: '/uf/busca' ,
                   method: 'GET',
                   data: {busca: busca},
                   success: response =>{
                       //console.log(response);

                       const unidades = response;  
                        
                       $('tr').remove(".resultado-unidades");

                       const table = document.getElementById('table-unidades');

                       unidades.forEach(element => {

                           let tr = document.createElement('tr');
                           tr.className = "resultado-unidades";

                           var td1 = document.createElement('td');
                           td1.innerHTML  = element.SG_UF;

                           var td2 = document.createElement('td');
                           td2.innerHTML = element.NM_UF;

                           var td3 = document.createElement('td');
                           
                           var a = document.createElement('a');
                           a.href = '/uf/editar/' + element.SG_UF;

                           var button = document.createElement('button');
                           button.innerHTML = 'Editar';

                           a.appendChild(button);

                           td3.appendChild(a);


                           tr.appendChild(td1);
                           tr.appendChild(td2);
                           tr.appendChild(td3);
                           

                           table.appendChild(tr);

                       });
                       
                       
                       
                   },
               });
           }
       });
</script>
</html>